<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">


  <title>Portada</title>

</head>

<!--BODY-->

<body>
  <header id="header" class="mastheadPortada text-center"></header>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid" src="/assets/img/profile.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">{{'home.introduction.title' | translate }}</h2><br>
            <p [innerHTML]="'home.introduction.content'| translate | noComma">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid " src="/assets/img/homeComputerIcon.png" alt="">

          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">{{'home.currentJob.title' | translate }}</h2><br>
            <p [innerHTML]="'home.currentJob.content'| translate | noComma">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid " src="/assets/img/bocadillo-icon.jpg" alt="">

          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">{{'home.aboutMe.title' | translate }}</h2><br>
            <p [innerHTML]="'home.aboutMe.content'| translate | noComma">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
  </footer>

</body>


</html>