<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">


  <title>Contact</title>

</head>

<!--BODY-->

<body>
  <header class="mastheadContact text-center"></header>
  <div>
    <div class="card-body">
      <div class="container mt-5">
        <h2>Formulario de contacto</h2>
        <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" formControlName="name" [(ngModel)]="nameValue">
            <div class="novalid" *ngIf="name.value && name.status==='INVALID' && !name.pristine ">
              <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contact.name' |translate}}
            </div>
          </div>
          <div class="form-group">
            <label>Asunto</label>
            <input type="text" class="form-control" name="asunto" formControlName="subject" [(ngModel)]="subjectValue">
            <div class="novalid" *ngIf="subject.value && subject.status==='INVALID' && !subject.pristine ">
              <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contact.subject' |translate}}
            </div>
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" name="email" formControlName="email" [(ngModel)]="emailValue">
            <div class="novalid" *ngIf="email.value && email.status==='INVALID' && !email.pristine ">
              <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contact.email' |translate}}
            </div>
          </div>
          <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" cols="30" rows="6" name="mensaje" formControlName="message" [(ngModel)]="messageValue"></textarea>
            <div class="novalid" *ngIf="message.value && message.status==='INVALID' && !message.pristine ">
              <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contact.message' |translate}}
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Enviar</button>
        </form>
      </div>
    </div>
  </div>

</body>


</html>