<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">


  <title>Contact</title>

</head>

<!--BODY-->

<body>
  <header class="mastheadContact text-center border "></header>
  <br><br>
  <div class="container">
    <div class="card  text-dark shadow-lg p-1 mb-5 rounded border border-secondary ">
      <div class="card-body">
        <div class="container mt-5">
          <h2 class="text-responsive">{{'contactSection.contactForm' |translate}}</h2><br>
          <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
            <div class="form-group">
              <label>{{'contactSection.name' |translate}}</label>
              <input type="text" class="form-control border border-primary" name="nombre" formControlName="name" [(ngModel)]="nameValue">
              <div class="novalid" *ngIf="name.value && name.status==='INVALID' && !name.pristine ">
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contactSection.name' |translate}}
              </div>
            </div>
            <div class="form-group">
              <label>{{'contactSection.subject' |translate}}</label>
              <input type="text" class="form-control border border-primary" name="asunto" formControlName="subject" [(ngModel)]="subjectValue">
              <div class="novalid" *ngIf="subject.value && subject.status==='INVALID' && !subject.pristine ">
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contactSection.subject' |translate}}
              </div>
            </div>
            <div class="form-group">
              <label>{{'contactSection.email' |translate}}</label>
              <input type="email" class="form-control border border-primary" name="email" formControlName="email" [(ngModel)]="emailValue">
              <div class="novalid" *ngIf="email.value && email.status==='INVALID' && !email.pristine ">
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contactSection.email' |translate}}
              </div>
            </div>
            <div class="form-group">
              <label>{{'contactSection.file' |translate}}</label>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="file" (change)="fileChangeEvent($event)" multiple />
                  <input type="text" class="form-control custom-file-label border border-primary disabled" name="filesToUploadName" formControlName="filesToUploadName" [(ngModel)]="filesToUploadNameValue" id="fileLabel">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>{{'contactSection.message' |translate}}</label>
              <textarea class="form-control border border-primary" cols="30" rows="6" name="mensaje" formControlName="message" [(ngModel)]="messageValue"></textarea>
              <div class="novalid" *ngIf="message.value && message.status==='INVALID' && !message.pristine ">
                <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> {{'validationMessages.contactSection.message' |translate}}
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">{{'contactSection.send' |translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>


</html>