<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-address-card"></i><span class="d-none d-md-inline">{{'curriculumPage.personalData' | translate }}</span></a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-user-circle"></i><span class="d-none d-md-inline">{{'curriculumPage.profile' | translate }}</span></a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-user-graduate"></i><span class="d-none d-md-inline">{{'curriculumPage.education' | translate }}</span></a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#service" aria-expanded="false"><i class="fas fa-chart-line"></i><span class="d-none d-md-inline">{{'curriculumPage.workExperience' | translate }}</span></a>
      </li>
      <ul class="list-unstyled sub-menu collapse" id="service">
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
      </ul>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i><span class="d-none d-md-inline">{{'curriculumPage.trainingCourses' | translate }}</span></a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-certificate"></i><span class="d-none d-md-inline">{{'curriculumPage.certifications' | translate }}</span></a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-paperclip"></i><span class="d-none d-md-inline">{{'curriculumPage.worksPresentations' | translate }}</span></a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a (click)="showHideSideVar()" role="button"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
      </div>
    </nav>
  </div>
  <main class="pl-md-2 pt-2 ">

    <div class="page-header">
      <h2>CV Sergio Asensio Puyuelo</h2>
    </div>
    <p class="lead">A responsive, multi-level vertical accordion.</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>
  </main>

</div>