
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar i {
    margin-right: 6px;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: rgb(66, 23, 10);
    color: #fff;
    transition: all 0.3s;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343a40;
}

#sidebar ul.components {
    padding: 100px 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}
#sidebar ul li a:hover {
    color: black;
    background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #d19b3d;
}
ul ul a {
    font-size: 0.9em !important;
}
#sidebar ul .sub-menu li.active,
#sidebar li .sub-menu li.active {
  color: #d19b3d;
}
#sidebarul .sub-menu li.active a,
#sidebar li .sub-menu li.active a {
  color: #d19b3d;
}

#sidebar ul .sub-menu li,
#sidebar li .sub-menu li {
  border: none;
  line-height: 20px;
  margin-left: 0px;
  background: rgb(77, 27, 12);

}
#sidebar ul .sub-menu li a:before,
#sidebar li .sub-menu li a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.fa-navicon {
    color:#343a40
}
#sidebarActivator{
}
#main{
    overflow-y: scroll;
    position:relative;
    height: 150vh;
    margin-top: 5px;
    margin-bottom: 30px;

}
/* width */
::-webkit-scrollbar {
    width: 7.5px;
    background-color: #F5F5F5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 27, 12); 
    border-radius: 12px;
  }
.section{
    color: rgb(77, 27, 12);

}
.card{
    border: transparent 1px rgb(77, 27, 12);
    background-color: rgba(0, 0, 0, 0.04);
    margin-right: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.lead{
    font-weight: 800;

}
.workSectionTable{
    font-weight: 800;
    color:slategrey;
    font-size: 17px;
    
}
.workTable{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.workSection{
    margin-right: 20px;
}


//Movil Styles
@media (max-width: 767px) {
    #sidebar {
        margin-left: -100spx;
        min-width: 100px;
        max-width: 100px;
        min-height: 100vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
    
}