<body class="wrapper" data-spy="scroll" data-target="#sidebar" data-offset="50">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="components">
      <li class="{{section == 'personalData' ? 'active' : '' }}">
        <a (click)="changeSection('personalData')" role="button"><i class="fa fa-address-card"></i><span class="d-none d-md-inline">{{'curriculumPage.personalData' | translate }}</span></a>
      </li>
      <li class="{{section == 'profile' ? 'active' : '' }}">
        <a (click)="changeSection('profile')" role="button"><i class="fas fa-user-circle"></i><span class="d-none d-md-inline">{{'curriculumPage.profile' | translate }}</span></a>
      </li>
      <li class="{{section == 'education' ? 'active' : '' }}">
        <a (click)="changeSection('education')" role="button"><i class="fas fa-user-graduate"></i><span class="d-none d-md-inline">{{'curriculumPage.education' | translate }}</span></a>
      </li>
      <li class="{{section == 'languages' ? 'active' : '' }}">
        <a (click)="changeSection('languages')" role="button"><i class="fas fa-globe-europe"></i><span class="d-none d-md-inline">{{'curriculumPage.languages' | translate }}</span></a>
      </li>
      <li class="{{section == 'softwareTools' ? 'active' : '' }}">
        <a (click)="changeSection('softwareTools')" role="button"><i class="fab fa-java"></i><span class="d-none d-md-inline">{{'curriculumPage.softwareTools' | translate }}</span></a>
      </li>
      <li class="{{section == 'workExperience' ? 'active' : '' }}">
        <a href="#workExperience" (click)="changeSection('workExperience')" data-toggle="collapse" data-target="#service" aria-expanded="false"><i class="fas fa-chart-line"></i><span class="d-none d-md-inline">{{'curriculumPage.workExperience' | translate }}</span></a>
      </li>
      <ul class="list-unstyled sub-menu collapse" id="service">
        <li class="{{section == 'seniorDeveloper' ? 'active' : '' }}"><a (click)="changeSection('seniorDeveloper')" role="button">{{'curriculumPage.workExperienceSection.seniorDeveloper' | translate }}</a></li>
        <li class="{{section == 'developer' ? 'active' : '' }}"><a (click)="changeSection('developer')" role="button">{{'curriculumPage.workExperienceSection.developer' | translate }}</a></li>
      </ul>
      <li class="{{section == 'trainingCourses' ? 'active' : '' }}">
        <a (click)="changeSection('trainingCourses')" role="button"><i class="fas fa-book-reader"></i><span class="d-none d-md-inline">{{'curriculumPage.trainingCourses' | translate }}</span></a>
      </li>
      <li class="{{section == 'certifications' ? 'active' : '' }}">
        <a (click)="changeSection('certifications')" role="button"><i class="fas fa-certificate"></i><span class="d-none d-md-inline">{{'curriculumPage.certifications' | translate }}</span></a>
      </li>
      <li class="{{section == 'publications' ? 'active' : '' }}">
        <a (click)="changeSection('publications')" role="button"><i class="fas fa-paperclip"></i><span class="d-none d-md-inline">{{'curriculumPage.publications' | translate }}</span></a>
      </li>
      <li>
        <a *ngIf="language == 'en'" href="/assets/files/Curriculum_Vitae_Sergio_Asensio_EN.pdf" download="Curriculim_Vitae_Sergio_Asensio_EN"><i class="fas fa-file-pdf"></i><span class="d-none d-md-inline">{{'curriculumPage.downloadPdf' | translate }}</span></a>
        <a *ngIf="language == 'es'" href="/assets/files/Curriculum_Vitae_Sergio_Asensio_ES.pdf" download="Curriculim_Vitae_Sergio_Asensio_ES"><i class="fas fa-file-pdf"></i><span class="d-none d-md-inline">{{'curriculumPage.downloadPdf' | translate }}</span></a>
      </li>
    </ul>
  </nav>
  <div id="sidebarActivator">
    <a (click)="showHideSideVar()" role="button"><i class="fas fa-caret-right fa-2x py-2 p-1"></i></a>
  </div>
  <!-- Curriculum -->
  <main id="main" class="pl-md-2 pt-2 ">

    <!--  Personal Data -->
    <h1 id="personalData" class="lead">{{'curriculumPage.personalData' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.name' | translate }} </dt>
          <dd class="col-sm-9">Sergio Asensio Puyuelo</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.address' | translate }}</dt>
          <dd class="col-sm-9">Avenida Pablo Gargallo 110 6E</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.city' | translate }}</dt>
          <dd class="col-sm-9">Zaragoza</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.phone' | translate }}</dt>
          <dd class="col-sm-9">678-154-765</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.birthdate' | translate }}</dt>
          <dd class="col-sm-9">12-2-1992</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.postalCode' | translate }}</dt>
          <dd class="col-sm-9">50003</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.age' | translate }}</dt>
          <dd class="col-sm-9">26</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.email' | translate }}</dt>
          <dd class="col-sm-9">maserasen@gmail.com</dd>
        </dl>
      </div>
    </div>
    <br> <br>
    <!--Profile-->
    <h1 id="profile" class="lead">{{'curriculumPage.profile' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body" [innerHTML]="'curriculumPage.profileSection.content'| translate | noComma">
      </div>
    </div>
    <br><br>
    <!--Education-->
    <h1 id="education" class="lead">{{'curriculumPage.education' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.educationSection.degree' | translate }} </dt>
          <dd class="col-sm-9">{{'curriculumPage.educationSection.university' | translate }}</dd>
        </dl>
      </div>
    </div>
    <br><br>
    <!--Languages-->
    <h1 id="languages" class="lead">{{'curriculumPage.languages' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.languageSection.spanish' | translate }} </dt>
          <dd class="col-sm-9">{{'curriculumPage.languageSection.spanish_s1' | translate }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.languageSection.english' | translate }} </dt>
          <dd class="col-sm-9">
            {{'curriculumPage.languageSection.english_s1' | translate }}
            <br><br>
            {{'curriculumPage.languageSection.english_s2' | translate }}
          </dd>
        </dl>
      </div>
    </div>
    <br><br>
    <!--Software Tools-->
    <h1 id="softwareTools" class="lead">{{'curriculumPage.softwareTools' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.java' | translate }} </dt>
          <dd class="col-sm-9">Spring MVC, Hibernate, Maven, JSF, JPA, jQuery, AJAX, Javascript , Quarz , Apache Tomcat. </dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.salesforce' | translate }} </dt>
          <dd class="col-sm-9">Apex, Visualforce, Heroku, Marketing Cloud , Schedule Jobs.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.angular' | translate }} </dt>
          <dd class="col-sm-9">Angular 7, npm.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.nodejs' | translate }} </dt>
          <dd class="col-sm-9">Express.js, Nodemon, Babel-Node, Knex.js, Objection.js.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.webDesign' | translate }} </dt>
          <dd class="col-sm-9"> HTML, HTML5, JSP, JSPX, CSS, SCSS, Bootstrap 4, Font-Awesome 4.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.webServices' | translate }} </dt>
          <dd class="col-sm-9"> REST, SOAP.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.bbdd' | translate }}</dt>
          <dd class="col-sm-9">PostgresSQL, Oracle.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.etl' | translate }}</dt>
          <dd class="col-sm-9">Talend.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.codeEditor' | translate }} </dt>
          <dd class="col-sm-9">Developer Console, Eclipse, The Welkin Suite, Visual Studio Code.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.versionControl' | translate }} </dt>
          <dd class="col-sm-9"> Git, Github, Bitbucket, SVN, CVS.</dd>

          <dt class="col-sm-2">{{'curriculumPage.softwareToolsSection.continuousIntegration' | translate }} </dt>
          <dd class="col-sm-9">Jenkins.</dd>
        </dl>
      </div>
    </div>
    <br><br>
    <!--Work Experience-->
    <div class="workSection">
      <h1 id="workExperience" class="lead">{{'curriculumPage.workExperience' | translate }}</h1>
      <hr>
      <!--Senior Developer Experience-->
      <br>
      <p class='workSectionTable' id='seniorDeveloper'>IA SOFT GRUPO OESIA ( {{'curriculumPage.workExperienceSection.seniorDeveloper' | translate | uppercase }} )</p>
      <br>
      <div class='workTable' [innerHTML]="'curriculumPage.workExperienceSection.contentSeniorDeveloper'| translate | noComma"></div>

      <!--Developer Experience-->
      <br>
      <p class='workSectionTable' id='developer'>DXD APLICATIONS & IT SOLUTIONS SL ( {{'curriculumPage.workExperienceSection.developer' | translate | uppercase }} )</p>
      <br>
      <div class='workTable' [innerHTML]="'curriculumPage.workExperienceSection.contentDeveloper'| translate | noComma"></div>
    </div>
    <br><br>
    <!--Training Courses-->
    <h1 id="trainingCourses" class="lead">{{'curriculumPage.trainingCourses' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.trainingCoursesSection.courses' | translate }} </dt>
          <dd class="col-sm-9">
            {{'curriculumPage.trainingCoursesSection.course_1' | translate }}<br><br>
            {{'curriculumPage.trainingCoursesSection.course_2' | translate }}<br><br>
            {{'curriculumPage.trainingCoursesSection.course_3' | translate }}<br><br>
            {{'curriculumPage.trainingCoursesSection.course_4' | translate }}<br><br>
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-2">{{'curriculumPage.trainingCoursesSection.presentations' | translate }} </dt>
          <dd class="col-sm-9">
            {{'curriculumPage.trainingCoursesSection.presentation_1' | translate }}<br><br>
            {{'curriculumPage.trainingCoursesSection.presentation_2' | translate }}
          </dd>
        </dl>
      </div>
    </div>
    <br><br>
    <!--Certifications-->
    <h1 id="certifications" class="lead">{{'curriculumPage.certifications' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <b>
          <li>{{'curriculumPage.certificationsSection.oracleCert' | translate }}</li>
        </b>
      </div>
    </div>
    <br><br>
    <!--Publications-->
    <h1 id="publications" class="lead">{{'curriculumPage.publications' | translate }}</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <li>
          <b>
            <i class="fas fa-paperclip"></i><a href="https://zaguan.unizar.es/record/36919/files/TAZ-TFG-2015-4450.pdf "> {{'curriculumPage.publicationsSection.tfg' | translate }}</a>
          </b>
        </li>
      </div>
    </div>
    <br>
  </main>
</body>