<body class="wrapper" data-spy="scroll" data-target="#sidebar" data-offset="50">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="components">
      <li class="{{section == 'personalData' ? 'active' : '' }}">
        <a (click)="changeSection('personalData')" role="button"><i class="fa fa-address-card"></i><span class="d-none d-md-inline">{{'curriculumPage.personalData' | translate }}</span></a>
      </li>
      <li class="{{section == 'profile' ? 'active' : '' }}">
        <a (click)="changeSection('profile')" role="button"><i class="fas fa-user-circle"></i><span class="d-none d-md-inline">{{'curriculumPage.profile' | translate }}</span></a>
      </li>
      <li class="{{section == 'education' ? 'active' : '' }}">
        <a (click)="changeSection('education')" role="button"><i class="fas fa-user-graduate"></i><span class="d-none d-md-inline">{{'curriculumPage.education' | translate }}</span></a>
      </li>
      <li class="{{section == 'workExperience' ? 'active' : '' }}">
        <a href="#workExperience" (click)="changeSection('workExperience')" data-toggle="collapse" data-target="#service" aria-expanded="false"><i class="fas fa-chart-line"></i><span class="d-none d-md-inline">{{'curriculumPage.workExperience' | translate }}</span></a>
      </li>
      <ul class="list-unstyled sub-menu collapse" id="service">
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
        <li><a href="#" class="collapsed" data-toggle="collapse">About</a></li>
      </ul>
      <li class="{{section == 'trainingCourses' ? 'active' : '' }}">
        <a (click)="changeSection('trainingCourses')" role="button"><i class="fas fa-book-reader"></i><span class="d-none d-md-inline">{{'curriculumPage.trainingCourses' | translate }}</span></a>
      </li>
      <li class="{{section == 'certifications' ? 'active' : '' }}">
        <a (click)="changeSection('certifications')" role="button"><i class="fas fa-certificate"></i><span class="d-none d-md-inline">{{'curriculumPage.certifications' | translate }}</span></a>
      </li>
      <li class="{{section == 'worksPresentations' ? 'active' : '' }}">
        <a (click)="changeSection('worksPresentations')" role="button"><i class="fas fa-paperclip"></i><span class="d-none d-md-inline">{{'curriculumPage.worksPresentations' | translate }}</span></a>
      </li>
    </ul>
  </nav>
  <div id="sidebarActivator">
    <a (click)="showHideSideVar()" role="button"><i class="fas fa-caret-right fa-2x py-2 p-1"></i></a>
  </div>
  <!-- Curriculum -->
  <main id="main" class="pl-md-2 pt-2 ">
    <div class="page-header">
      <h2>Curriculum Vitae</h2>
    </div>
    <br>
    <!--  Personal Data -->
    <p id="personalData" class="lead">{{'curriculumPage.personalData' | translate }}</p>
    <hr>
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.name' | translate }} </dt>
          <dd class="col-sm-9">Sergio Asensio Puyuelo</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.address' | translate }}</dt>
          <dd class="col-sm-9">Avenida Pablo Gargallo 110 6E</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.city' | translate }}</dt>
          <dd class="col-sm-9">Zaragoza</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.phone' | translate }}</dt>
          <dd class="col-sm-9">678-154-765</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.birthdate' | translate }}</dt>
          <dd class="col-sm-9">12-2-1992</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.postalCode' | translate }}</dt>
          <dd class="col-sm-9">50003</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.age' | translate }}</dt>
          <dd class="col-sm-9">25</dd>

          <dt class="col-sm-3">{{'curriculumPage.personalDataSection.email' | translate }}</dt>
          <dd class="col-sm-9">maserasen@gmail.com</dd>
        </dl>
      </div>
    </div>

    <br>
    <p id="profile" class="lead">{{'curriculumPage.profile' | translate }}</p>
    <hr>
    <div [innerHTML]="'curriculumPage.profileSection.content'| translate | noComma">
    </div>
    <br>
    <p id="education" class="lead">{{'curriculumPage.education' | translate }}</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>
    <br>
    <p id="workExperience" class="lead">{{'curriculumPage.workExperience' | translate }}</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>
    <br>
    <p id="trainingCourses" class="lead">{{'curriculumPage.trainingCourses' | translate }}</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>
    <br>
    <p id="certifications" class="lead">{{'curriculumPage.certifications' | translate }}</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>
    <br>
    <p id="worksPresentations" class="lead">{{'curriculumPage.worksPresentations' | translate }}</p>
    <hr>
    <div>
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
      A responsive, multi-level vertical accordion.A responsive, multi-level vertical accordion.A responsive,
      multi-level vertical accordion.A responsive, multi-level vertical accordion.
      multi-level vertical accordion.A responsive, multi-level vertical accordion.multi-level vertical accordion.A
      responsive, multi-level vertical accordion.multi-level vertical accordion.A responsive, multi-level vertical
      accordion.
    </div>

  </main>


</body>