<!--/BEGIN CABECERA-->
<header id="banner" role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-justify-content-center fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mx-auto my-2 order-0 order-md-1 position-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ 'mainPage.home' | translate }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'mainPage.cv' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'mainPage.skills' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'mainPage.programmingArea' | translate }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">{{ 'mainPage.contact' | translate }}</a>
        </li>

      </ul>
    </div>
    <a href="#">
      <img src="assets/img/english_flag.png" alt="English" width="40" (click)="useLanguage('en')">
    </a>
    <a href="#">
      <img src="assets/img/spanish_flag.png" alt="Español" width="35" (click)="useLanguage('es')">
    </a>
  </nav>
</header>
<!--/END CABECERA-->