/* CSS Document */
  html body {
    background-color:aliceblue;
  }
  .navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
  }
  .navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }
  [role="button"] { 
    cursor: pointer;
  }
  @mixin masthead{
    position: relative;
    overflow: hidden;
    padding-top: calc(10rem + 72px);
    padding-bottom: 10rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    height: auto;
  }

  header.mastheadPortada {
    background-image:url('/assets/img/headerMain.jpg');
    @include masthead;
  }
  header.mastheadSkills {
    background: url("/assets/img/headerSkills.jpg") center center no-repeat;
    @include masthead;
  } 
  header.mastheadCurriculum {
    background: url("/assets/img/headerCurriculum.jpg") center center no-repeat;
    @include masthead;
  } 
  header.mastheadProgramming {
    background: url("/assets/img/headerProgramming.jpg") center center no-repeat;
    @include masthead;
  } 
  header.mastheadContact{
    background: url("/assets/img/headerContact.jpg") center center no-repeat;
    @include masthead;
  } 
