<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">


  <title>Programming Area</title>

</head>

<!--BODY-->

<body class="mastheadProgramming text-center">
  <header class="mastheadProgramming"></header>
  <div class="text-center">
    <img src="assets/img/maintenance.gif" alt="Maintenance" width="20%">
    <h2 class="title">{{'programmingAreaSection.maintenance' | translate }}</h2>
  </div>

</body>


</html>