<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie-edge">


  <title>Skills</title>

</head>

<!--BODY-->

<body>
  <header class="mastheadSkills text-center"></header>
  <br><br>
  <div id="chartCarousel" class="container-fluid text-center carousel slide shadow p-3 mb-5 rounded " data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#chartCarousel" data-slide-to="0" class="active" (click)="resetCharts()"></li>
      <li data-target="#chartCarousel" data-slide-to="1" (click)="resetCharts()"></li>
      <li data-target="#chartCarousel" data-slide-to="2" (click)="resetCharts()"></li>
      <li data-target="#chartCarousel" data-slide-to="3" (click)="resetCharts()"></li>

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner ">
      <div class="carousel-item active item item1">
        <canvas id="softWareChart" class="chart"></canvas>
      </div>
      <div class="carousel-item item item2">
        <canvas id="englishChart" class="chart"></canvas>
      </div>
      <div class="carousel-item item item3 scroller">
        <b>
          <h2 class="title">{{'skillsSection.personalSkills.title' | translate }}</h2>
        </b>
        <hr>
        <div class="rating-block ">
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.problemSolving' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.analytical' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x "></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.determinationPersistence' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.decisionMaking' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.selfMotivation' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.adaptability' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.communication' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.teamwork' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.creativity' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h4>{{'skillsSection.personalSkills.timeManagement' | translate }}</h4>
            </div>
            <div class="col-md-3">
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x starChecked"></span>
              <span class="star fa fa-star fa-2x"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item item item4 scroller">
        <h2 class="title">Hobbies</h2>
        <hr>
        <br>
        <div class="row justify-content-md-center ">
          <div class="hobby col-sm-6 col-md-6 col-lg-3">
            <img class='hobby-img img-thumbnail' src="assets/img/tennis.png" alt="Tennis">
          </div>
          <div class="hobby col-sm-6 col-md-6 col-lg-3">
            <img class='hobby-img img-thumbnail' src="assets/img/swimming.png" alt="Swimming">
          </div>
          <div class="hobby col-sm-6 col-md-6 col-lg-3 ">
            <img class='hobby-img img-thumbnail' src="assets/img/motorbike.png" alt="Motorbikes">
          </div>
          <div class="hobby col-sm-6 col-md-6 col-lg-3">
            <img class="hobby-img img-thumbnail " src=" assets/img/guitar.png" alt="Guitars">
          </div>
          <div class="hobby col-sm-6 col-md-6 col-lg-3">
            <img class="hobby-img img-thumbnail " src=" assets/img/mountain.jpg" alt="Guitars">
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="carousel-control-prev carousel-control-prev-icon" href="#chartCarousel" data-slide="prev" (click)="resetCharts()"></a>
    <a class="carousel-control-next carousel-control-next-icon" href="#chartCarousel" data-slide="next" (click)="resetCharts()"></a>
  </div>
  <!-- Carousel -->
</body>

</html>