/* You can add global styles to this file, and also import other style files */
@import 'assets/css/custom.css'; 
.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}
.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }
  .header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: url("assets/img/header.jpg") center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }